.headerArea{
    width: 100%;
    height: calc(99vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
}

.headerContent{
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.headerContent h1{
    color: var(--orange);
    font-size: 6rem;
    font-family: var(--font-family-one);
    font-weight: 800;
    line-height: 110px;
}

.headerContent h1::selection{
    color: #fff;
    background-color: var(--orange);
}

.headerContent p{
    color: white;
    font-size: 1.5rem;
    margin-top: 30px;
    font-family: var(--font-family-two);
}

.headerContent p::selection{
    color: var(--orange);
    background-color: #fff;
}

.headerLink{
    padding: 6px 15px;
    border-radius: 25px;
    background-color: var(--orange);
    color: #fff;
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.4rem;
}

.icons{
    position: absolute;
    display: flex;
    width: 100%;
    height: calc(99vh - 80px);
    justify-content: space-around;
    align-items: center;
}

.icons svg{
    font-size: 15rem;
    color: #222222;
}